# Positions of the fields that determine if G9-12 are offered
FIELDS_OF_INTEREST = [53, 54, 55, 56]


# Constants for testing
FILE_PATH_IN = '/global/path/to/test/test_data.csv'
FILE_PATH_OUT = '/global/path/to/test/test_data_out.csv'

SCHOOLS_STR = """SURVYEAR,FIPST,STABR,STATENAME,SEANAME,LEAID,ST_LEAID,LEA_NAME,SCHID,ST_SCHID,NCESSCH,SCH_NAME,MSTREET1,MSTREET2,MSTREET3,MCITY,MSTATE,MZIP,MZIP4,PHONE,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,UNION,OUT_OF_STATE_FLAG,SCH_TYPE_TEXT,SCH_TYPE,RECON_STATUS,GSLO,GSHI,LEVEL,VIRTUAL,BIES,SY_STATUS_TEXT,SY_STATUS,UPDATED_STATUS_TEXT,UPDATED_STATUS,EFFECTIVE_DATE,CHARTER_TEXT,PKOFFERED,KGOFFERED,G1OFFERED,G2OFFERED,G3OFFERED,G4OFFERED,G5OFFERED,G6OFFERED,G7OFFERED,G8OFFERED,G9OFFERED,G10OFFERED,G11OFFERED,G12OFFERED,G13OFFERED,AEOFFERED,UGOFFERED,NOGRADES,CHARTAUTH1,CHARTAUTHN1,CHARTAUTH2,CHARTAUTHN2,IGOFFERED,WEBSITE
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01667,210-0050,010000201667,Camps,P O Box 66,,,Mt Meigs,AL,36057,,3342153850,1601 County Rd. 57,,,Prattville,AL,36067,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01876,210-0001,010000201876,Alabama Youth Services,1299 Hillsboro Parkway,,,Helena,AL,35080,,2056825300,Central Office Bldg,,,Mt Meigs,AL,36057,,000,No,Regular School,1,No,N,N,N,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01706,210-0040,010000201706,McNeel Sch - Vacca Campus,8950 Roebuck Blvd,,,Birmingham,AL,35206,,2058384981,8950 Roebuck Blvd,,,Birmingham,AL,35206,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01670,210-0060,010000201670,Det Ctr,P O Box 66,,,Mt Meigs,AL,36057,,3342153850,2109 Bashi Rd Bldg 509,,,Thomasville,AL,36784,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,00277,210-0020,010000200277,Sequoyah Sch - Chalkville Campus,P O Box 9486,,,Birmingham,AL,35220,,2056808574,1000 Industrial School Road,,,Birmingham,AL,35220,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01705,210-0030,010000201705,Wallace Sch - Mt Meigs Campus,P O Box 66,,,Mount Meigs,AL,36057,,3342156039,1000 Industrial School Road,,,Mount Meigs,AL,36057,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100005,101,Albertville City,00889,101-0200,010000500889,Albertville Elem Sch,1100 Horton Rd,,,Albertville,AL,35950,,2568786611,1100 Horton Rd,,,Albertville,AL,35950,,000,No,Regular School,1,No,03,04,1,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,No,No,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,http:aes.albertk12.org
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100005,101,Albertville City,01616,101-0035,010000501616,Big Spring Lake Kinderg Sch,257 Country Club Rd,,,Albertville,AL,35951,,2568787922,257 Country Club Rd,,,Albertville,AL,35951,,000,No,Regular School,1,No,KG,KG,1,No,No,Open,1,Open,1,03/04/16,No,No,Yes,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,http://bsl.albertk12.org/
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100005,101,Albertville City,00870,101-0010,010000500870,Ala Avenue Middle Sch,600 E Alabama Ave,,,Albertville,AL,35950,,2568782341,600 E Alabama Ave,,,Albertville,AL,35950,,000,No,Regular School,1,No,07,08,2,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.albertk12.org/schools/aams/
2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100005,101,Albertville City,00879,101-0110,010000500879,Evans Elem Sch,901 W McKinney Ave,,,Albertville,AL,35950,,2568787698,901 W McKinney Ave,,,Albertville,AL,35950,,000,No,Regular School,1,No,05,06,2,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,http://www.albertk12.org/schools/EES/"""
SCHOOLS = [
    'SURVYEAR,FIPST,STABR,STATENAME,SEANAME,LEAID,ST_LEAID,LEA_NAME,SCHID,ST_SCHID,NCESSCH,SCH_NAME,MSTREET1,MSTREET2,MSTREET3,MCITY,MSTATE,MZIP,MZIP4,PHONE,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,UNION,OUT_OF_STATE_FLAG,SCH_TYPE_TEXT,SCH_TYPE,RECON_STATUS,GSLO,GSHI,LEVEL,VIRTUAL,BIES,SY_STATUS_TEXT,SY_STATUS,UPDATED_STATUS_TEXT,UPDATED_STATUS,EFFECTIVE_DATE,CHARTER_TEXT,PKOFFERED,KGOFFERED,G1OFFERED,G2OFFERED,G3OFFERED,G4OFFERED,G5OFFERED,G6OFFERED,G7OFFERED,G8OFFERED,G9OFFERED,G10OFFERED,G11OFFERED,G12OFFERED,G13OFFERED,AEOFFERED,UGOFFERED,NOGRADES,CHARTAUTH1,CHARTAUTHN1,CHARTAUTH2,CHARTAUTHN2,IGOFFERED,WEBSITE',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01667,210-0050,010000201667,Camps,P O Box 66,,,Mt Meigs,AL,36057,,3342153850,1601 County Rd. 57,,,Prattville,AL,36067,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01876,210-0001,010000201876,Alabama Youth Services,1299 Hillsboro Parkway,,,Helena,AL,35080,,2056825300,Central Office Bldg,,,Mt Meigs,AL,36057,,000,No,Regular School,1,No,N,N,N,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01706,210-0040,010000201706,McNeel Sch - Vacca Campus,8950 Roebuck Blvd,,,Birmingham,AL,35206,,2058384981,8950 Roebuck Blvd,,,Birmingham,AL,35206,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01670,210-0060,010000201670,Det Ctr,P O Box 66,,,Mt Meigs,AL,36057,,3342153850,2109 Bashi Rd Bldg 509,,,Thomasville,AL,36784,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,00277,210-0020,010000200277,Sequoyah Sch - Chalkville Campus,P O Box 9486,,,Birmingham,AL,35220,,2056808574,1000 Industrial School Road,,,Birmingham,AL,35220,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01705,210-0030,010000201705,Wallace Sch - Mt Meigs Campus,P O Box 66,,,Mount Meigs,AL,36057,,3342156039,1000 Industrial School Road,,,Mount Meigs,AL,36057,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100005,101,Albertville City,00889,101-0200,010000500889,Albertville Elem Sch,1100 Horton Rd,,,Albertville,AL,35950,,2568786611,1100 Horton Rd,,,Albertville,AL,35950,,000,No,Regular School,1,No,03,04,1,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,No,No,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,http:aes.albertk12.org',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100005,101,Albertville City,01616,101-0035,010000501616,Big Spring Lake Kinderg Sch,257 Country Club Rd,,,Albertville,AL,35951,,2568787922,257 Country Club Rd,,,Albertville,AL,35951,,000,No,Regular School,1,No,KG,KG,1,No,No,Open,1,Open,1,03/04/16,No,No,Yes,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,http://bsl.albertk12.org/',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100005,101,Albertville City,00870,101-0010,010000500870,Ala Avenue Middle Sch,600 E Alabama Ave,,,Albertville,AL,35950,,2568782341,600 E Alabama Ave,,,Albertville,AL,35950,,000,No,Regular School,1,No,07,08,2,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.albertk12.org/schools/aams/',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100005,101,Albertville City,00879,101-0110,010000500879,Evans Elem Sch,901 W McKinney Ave,,,Albertville,AL,35950,,2568787698,901 W McKinney Ave,,,Albertville,AL,35950,,000,No,Regular School,1,No,05,06,2,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,http://www.albertk12.org/schools/EES/',
]

SAMPLE_RECORDS = [
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', '', '', '', '', '', '', '', '', ''], 
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', '', '', '', '', '', '', '', '', ''], 
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', '', '', '', '', '', '', '', '', ''], 
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', '', '', '', '', '', '', '', '', ''], 
    ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', '', '', '', '', '', '', '', '', '']
]

HIGHSCHOOLS = [
    'SURVYEAR,FIPST,STABR,STATENAME,SEANAME,LEAID,ST_LEAID,LEA_NAME,SCHID,ST_SCHID,NCESSCH,SCH_NAME,MSTREET1,MSTREET2,MSTREET3,MCITY,MSTATE,MZIP,MZIP4,PHONE,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,UNION,OUT_OF_STATE_FLAG,SCH_TYPE_TEXT,SCH_TYPE,RECON_STATUS,GSLO,GSHI,LEVEL,VIRTUAL,BIES,SY_STATUS_TEXT,SY_STATUS,UPDATED_STATUS_TEXT,UPDATED_STATUS,EFFECTIVE_DATE,CHARTER_TEXT,PKOFFERED,KGOFFERED,G1OFFERED,G2OFFERED,G3OFFERED,G4OFFERED,G5OFFERED,G6OFFERED,G7OFFERED,G8OFFERED,G9OFFERED,G10OFFERED,G11OFFERED,G12OFFERED,G13OFFERED,AEOFFERED,UGOFFERED,NOGRADES,CHARTAUTH1,CHARTAUTHN1,CHARTAUTH2,CHARTAUTHN2,IGOFFERED,WEBSITE',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01667,210-0050,010000201667,Camps,P O Box 66,,,Mt Meigs,AL,36057,,3342153850,1601 County Rd. 57,,,Prattville,AL,36067,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01706,210-0040,010000201706,McNeel Sch - Vacca Campus,8950 Roebuck Blvd,,,Birmingham,AL,35206,,2058384981,8950 Roebuck Blvd,,,Birmingham,AL,35206,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01670,210-0060,010000201670,Det Ctr,P O Box 66,,,Mt Meigs,AL,36057,,3342153850,2109 Bashi Rd Bldg 509,,,Thomasville,AL,36784,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,00277,210-0020,010000200277,Sequoyah Sch - Chalkville Campus,P O Box 9486,,,Birmingham,AL,35220,,2056808574,1000 Industrial School Road,,,Birmingham,AL,35220,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
    '2015-2016,01,AL,ALABAMA,Alabama Department Of Education,0100002,210,Alabama Youth Services,01705,210-0030,010000201705,Wallace Sch - Mt Meigs Campus,P O Box 66,,,Mount Meigs,AL,36057,,3342156039,1000 Industrial School Road,,,Mount Meigs,AL,36057,,000,No,Alternative Education School,4,No,07,12,3,No,No,Open,1,Open,1,03/04/16,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,No,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,R,www.dys.alabama.gov',
]
